{% extends "base.html" %}
{% block inicio %}Página de inicio{% endblock %}
<!DOCTYPE html>
{% block body %}
<html>
<a href="base.html"><button>Volver a Inicio</button></a>
<head>
	<title>Contacto</title>
</head>


<body>
	<h1>Contáctanos</h1>
	<p>Puedes ponerte en contacto con nosotros a través de los siguientes medios:</p>
	<ul>
		<li>Correo electrónico: <a href="mailto:sevensistemas@sevensportgroup.com.ar">sevensistemas@sevensportgroup.com.ar</a></li>
		<li>Teléfono: <a href="tel:+5491141761000;ext=606">+54 11 40176-100 int. 606</a></li>
	</ul>
</body>
{% endblock %}
</html>
